@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";


.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
